<footer>
	<nav class="navbar mx-5">
		<a class="navbar-brand" href="../html files/digikala.html">
			<img src="~/images/logo.png"
				 alt="Logo"
				 width="50"
				 height="50"
				 class="d-inline-block" />
			Mahi Shop
		</a>
		<form class="d-flex my-2 my-lg-0" dir="ltr">
			<div class="input-group">
				<button class="btn btn-outline-danger"
						type="button"
						id="button-addon1">
					خبرنامه
				</button>
				<input type="email"
					   class="form-control border border-danger focus-ring focus-ring-danger"
					   id="emailkhabar"
					   placeholder=" ایمیل خود را وارد کنید" />
			</div>
		</form>
	</nav>
	<div class="container text-center">
		<div class="row row-cols-1 row-cols-lg-4 m-2">
			<div class="col-12 col-lg-4 p-4 container">
				<div class="row m-2">
					<a href="#" class="text-reset text-decoration-none"><b>راهنمای خرید</b></a>
				</div>
				<div class="row m-2">
					<a href="#" class="text-reset text-decoration-none">نحوه ثبت سفارش</a>
				</div>
				<div class="row m-2">
					<a href="#" class="text-reset text-decoration-none">
						رویه ارسال سفارش
					</a>
				</div>
				<div class="row m-2">
					<a href="#" class="text-reset text-decoration-none">شیوه ی پرداخت</a>
				</div>
			</div>
			<div class="col-12 col-lg-4 p-4 container">
				<div class="row m-2">
					<a href="#" class="text-reset text-decoration-none"><b>خدمات مشتریان</b></a>
				</div>
				<div class="row m-2">
					<a href="#" class="text-reset text-decoration-none">پاسخ به پرسش های متداول</a>
				</div>
				<div class="row m-2">
					<a href="#" class="text-reset text-decoration-none">رویه بازگرداندن کالا</a>
				</div>
				<div class="row m-2">
					<a href="#" class="text-reset text-decoration-none">شرایط استفاده</a>
				</div>
				<div class="row m-2">
					<a href="#" class="text-reset text-decoration-none">حریم خصوصی</a>
				</div>
			</div>
			<div class="col-12 col-lg-4 p-4 container">
				<div class="row m-3">
					<a href="#" class="text-reset text-decoration-none"><b>همراه با ما</b></a>
				</div>
				<div class="row m-2">
					<a href="#" class="text-reset text-decoration-none">همکاری در فروش</a>
				</div>
				<div class="row m-2">
					<a href="#" class="text-reset text-decoration-none">فرصت های شغلی</a>
				</div>
				<div class="row m-2">
					<a href="#" class="text-reset text-decoration-none">درباره ی ما</a>
				</div>
				<div class="row m-2">
					<a href="#" class="text-reset text-decoration-none">تماس با ما</a>
				</div>
			</div>
		</div>
	</div>
</footer>