<header class="bg-white">
    <nav class="navbar navbar-expand-sm nav-fixed">
        <div class="container">
            <a class="navbar-brand" href="#">ماهی شاپ</a>
            <button class="navbar-toggler d-lg-none"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavId">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0 navhover">
                    <li class="nav-item">
                        <a class="nav-link active"
                           href="../html files/digikala.html"
                           aria-current="page">خانه <span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item mt-sm-2">
                        دسته‌بندی
                        <ul class="dropdown dropdown-menu text-center">
                            <li class="nav-item">
                                <a class="dropdown-item"
                                   href="../html files/listproducts.html">کیف</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item"
                                   href="../html files/listproducts.html">کفش</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item"
                                   href="../html files/listproducts.html">لباس</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item"
                                   href="../html files/listproducts.html">کت</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item"
                                   href="../html files/listproducts.html">کت</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item"
                                   href="../html files/listproducts.html">کلاه</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item"
                                   href="../html files/listproducts.html">آرایشی</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../html files/aboutUs.html">درباره ما</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./loginnum.html">ورود</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../html files/sabadKharid.html">سبد خرید</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- ناوبار سرچ -->
    <nav class="py-2 py-sm-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <form class="d-flex my-0 my-lg-0 mx-5">
                        <input class="form-control focus-ring focus-ring-danger me-sm-2"
                               type="text"
                               placeholder="Search" />
                        <button class="me-1 ms-1 btn btn-outline-danger my-2 my-sm-0"
                                type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="16"
                                 height="16"
                                 fill="currentColor"
                                 class="bi bi-search"
                                 viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </button>
                    </form>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </nav>
</header>