<!DOCTYPE html>
<html lang="en">
<head>
	<partial name="_MetaTags" />
</head>
<body>
	<partial name="_Header" />

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<partial name="_Footer" />
	<partial name="_Scripts" />
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
