<div class="p-2 hide-on-mobile" style="background-color: #343a40">
	<div class="containerone text-center mx-auto">
		<div class="cardone">
			<a href="#" class="text-reset text-decoration-none">
				<h2>ضمانت جنس</h2>
			</a>
		</div>

		<div class="cardone">
			<a href="#" class="text-reset text-decoration-none"><h2>پرداخت قسطی</h2></a>
		</div>

		<div class="cardone">
			<a href="#" class="text-reset text-decoration-none"><h2>ارسال رایگان</h2></a>
		</div>

		<div class="cardone">
			<a href="#" class="text-reset text-decoration-none"><h2>پرداخت درب‌منزل</h2></a>
		</div>

		<div class="cardone">
			<a href="#" class="text-reset text-decoration-none"><h2>بازگشت‌کالا بدون شرط</h2></a>
		</div>
	</div>
</div>