@{
	ViewData["Title"] = "سبد خرید";
}

<div class="container gx-5">
    <div class="row">
        <!-- جمع محصولات -->
        <div class="col-11 col-lg-4 card text-center m-3">
            <div class="card-body">
                <div class="card-header border text-center">سبد خرید شما</div>

                <div class="container">
                    <div class="rounded my-5 row">
                        <div class="col-6 text-end">قیمت محصولات</div>
                        <div class="col-6 text-start">11.000 تومان</div>
                    </div>
                    <div class="rounded my-5 justify-content-between row">
                        <div class="col-6 text-end">تخفیف</div>
                        <div class="col-6 text-start">11.000 تومان</div>
                    </div>
                    <div class="rounded my-5 justify-content-between row">
                        <div class="col-6 text-end">قیمت تمام شده</div>
                        <div class="col-6 text-start">11.000 تومان</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- سبد محصولات -->
        <div class="col-11 col-lg-7 card text-center m-3">
            <div class="card-body">
                <div class="card-header border mb-4">سبد خرید شما</div>

                <ul class="list-group-flush text-center align-items-center">
                    <!-- محصول اول -->
                    <li class="list-group-item">
                        <!-- کل کارت -->
                        <div class="card mb-3" style="max-width: 540px">
                            <div class="row g-0">
                                <!-- تصویر -->
                                <div class="col-12 col-md-4">
                                    <img src="~/images/cards/tshirt.png"
                                         class="img-fluid rounded-start"
                                         alt="محصول اول" />
                                </div>
                                <!-- توضیحات -->
                                <div class="col-12 col-md-8">
                                    <div class="card-body">
                                        <ul class="card-text m-0 m-sm-2 text-end">
                                            <li><h5 class="card-title">تیشرت مدل باران</h5></li>
                                            <li>تیشرت مردانه</li>
                                            <li>رنگ سفید</li>
                                            <li>قیمت : 890000 تومان</li>
                                        </ul>
                                        <p class="card-text text-start">
                                            <a href="#" class="btn btn-danger">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     width="16"
                                                     height="16"
                                                     fill="currentColor"
                                                     class="bi bi-trash"
                                                     viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                                </svg>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- محصول دوم  -->
                    <li class="list-group-item">
                        <!-- کل کارت -->
                        <div class="card mb-3" style="max-width: 540px">
                            <div class="row g-0">
                                <!-- تصویر -->
                                <div class="col-12 col-md-4">
                                    <img src="~/images/cards/bag.png"
                                         class="img-fluid rounded-start"
                                         alt="..." />
                                </div>
                                <!-- توضیحات -->
                                <div class="col-12 col-md-8">
                                    <div class="card-body">
                                        <ul class="card-text m-0 m-sm-2 text-end">
                                            <li><h5 class="card-title">کت کودک بنفشه</h5></li>
                                            <li>کت کودکانه</li>
                                            <li>رنگ بنفش</li>
                                            <li>قیمت : 890000 تومان</li>
                                        </ul>
                                        <p class="card-text text-start">
                                            <a href="#" class="btn btn-danger">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     width="16"
                                                     height="16"
                                                     fill="currentColor"
                                                     class="bi bi-trash"
                                                     viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                                </svg>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- محصول سوم -->
                    <li class="list-group-item">
                        <!-- کل کارت -->
                        <div class="card mb-3" style="max-width: 540px">
                            <div class="row g-0">
                                <!-- تصویر -->
                                <div class="col-12 col-md-4">
                                    <img src="~/images/cards/manteao.png"
                                         class="img-fluid rounded-start"
                                         alt="..." />
                                </div>
                                <!-- توضیحات -->
                                <div class="col-12 col-md-8">
                                    <div class="card-body">
                                        <ul class="card-text m-0 m-sm-2 text-end">
                                            <li><h5 class="card-title">مانتو مدل پریا</h5></li>
                                            <li>مانتو زنانه</li>
                                            <li>رنگ قهوه ای</li>
                                            <li>قیمت : 890000 تومان</li>
                                        </ul>
                                        <p class="card-text text-start">
                                            <a href="#" class="btn btn-danger">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     width="16"
                                                     height="16"
                                                     fill="currentColor"
                                                     class="bi bi-trash"
                                                     viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                                </svg>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <a href="#" class="btn btn-danger mb-4 mx-4">اتمام خرید</a>
        </div>
    </div>
</div>
