@{
    ViewData["Title"] = "ثبت نام در وبسایت";
}

<div class="d-flex justify-content-center align-items-center container text-center">
    <div class="card py-5 px-3">
        <h5 class="m-0">ثبت نام با شماره تلفن</h5>
        <div class="d-flex flex-row mt-5">
            <input type="text"
                   class="form-control text-center"
                   autofocus=""
                   placeholder="شماره ی خود را وارد کنید" />
        </div>
        <div class="text-center mt-5">
            <span class="d-block mobile-text">
                <a href="/Register"
                   class="btn btn-outline-danger">ارسال پیام</a>
            </span>
            <br />
            <span class="font-weight-bold cursor mobile-text">
                <a class="text-decoration-none text-reset"
                   href="/Login">حساب دارید؟</a>
            </span>
        </div>
    </div>
</div>

<style>
    .card {
        width: 350px;
        padding: 10px;
        border-radius: 20px;
        background: #fff;
        border: none;
        height: 350px;
        position: relative;
    }

    .container {
        height: 100vh;
    }

    .form-control {
        margin-right: 12px;
    }

        .form-control:focus {
            color: #495057;
            background-color: #fff;
            border-color: #f8d7d8;
            outline: 0;
            box-shadow: none;
        }

    .cursor {
        cursor: pointer;
    }
</style>
