@{
	ViewData["Title"] = "درباره ما";
}

<div class="d-flex justify-content-center align-items-center my-0 my-sm-3">
	<div class="card pb-0 pb-sm-5 px-3 mt-5 mx-2 mx-sm-0 mb-4">
		<div class="d-flex flex-row mt-5">
			<div class="container">
				<div class="row pb-3 text-center">
					<!-- معرفی بالا -->
					<h4>درباره ی ما</h4>
					<p>
						با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
						است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
						لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
						با هدف بهبود ابزارهای کاربردی می باشد.
					</p>
				</div>
				<!-- متونی ک کنار هم قرار گرفتن -->
				<div class="row g-md-5 align-items-center my-4">
					<!-- عکس و متن رو به روی هم -->
					<div class="col-12 col-md-6 text-center">
						<img src="~/images/aboutus/team.jpg"
							 width="100%"
							 class="rounded"
							 alt="" />
					</div>
					<div class="col-12 col-md-6 text-center">
						<div class="px-3 mb-3">
							<ul class="text-center my-4">
								<li>راه اندازی و نصب زمان کمتری می برد</li>
								<li>نرم افزار حرفه ای و آسان برای استفاده</li>
								<li>مناسب برای هر دستگاهی با طراحی پیکسلی عالی</li>
								<li>راه اندازی و نصب خیلی سریع</li>
							</ul>
							طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
							فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و
							دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد
							وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات
							پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد
							چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
							است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با
							هدف بهبود ابزارهای کاربردی می باشد.
						</div>
					</div>
					<div class="row g-md-5 align-items-center my-4">
						<!-- عکس و متن رو ب روی هم -->
						<div class="col-12 col-md-6 text-center">
							<h4>
								بیش از 350 دانش آموز برای رسیدن به اهداف خود به ما پیوستند
							</h4>
							<p>
								طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در
								زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام
								و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان
								رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی
								سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار
								گیرد. چاپگرها و متون بلکه روزنامه مجله در ستون و سطرآنچنان
								که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
								متنوع با هدف بهبود ابزارهای کاربردی می باشد.
							</p>
						</div>
						<div class="col-12 col-md-6 text-center">
							<img src="~/images/aboutus/team2.jpg"
								 class="rounded"
								 width="100%"
								 alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
